
.fa-camera {
    transition: 0.3s;
    background-color: white;
    padding: 1em;
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 1.5em;
    margin: auto;
    cursor: pointer;
}

.fa-camera:hover {
    background-color: gray;
    padding: 1em;
    color: white;
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 1.5em;
    margin: auto;
    cursor: pointer;
}

.image {
    display: none;
}


.subImagesLabel{
    transition: 0.3s;
    background-color: white;
    padding: 1em;
    border: 2px solid gray;
    border-radius: 0%;
    font-size: 1.5em;
    margin: auto;
    cursor: pointer;
    width: 200px;
    height: 300px;
}

.sortOrder{
    width: 200px;
}
.subImagesLabel:hover {
    background-color: gray;
    padding: 1em;
    color: white;
    border: 2px solid gray;
    border-radius: 0%;
    font-size: 1.5em;
    margin: auto;
    cursor: pointer;
}

#addImage{
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 0.7em;
    width: auto;
    cursor: pointer;
}
